@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
  box-sizing: border-box;
}
.App{
font-family: 'Roboto';
font-weight: 400;
font-size: 18px;
line-height: 21px;
}
.content {
  max-width: 1294px;
  margin: 0 auto;
  padding: 0 15px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 47px;
  font-weight: 500;
  margin-bottom: 60px;
  .logo{
    font-size: 25px;
    font-weight: 700;
  }
  ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:50px;
    margin: 0;
  }
  li{
    font-size: 20px;
  }
  a{
    text-decoration: none;
    color:#000;
  }
  button{
    background-color: transparent;
    font-size: 25px;
    font-weight: 500;
    border-radius: 10px;
    padding: 6px 26px;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

.menu{
  width: 40px;
  height: 28px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  &-span{
    width: 40px;
    height: 5px;
    background: #000;
  }
}
.menu-list{
  transform: translateX(100%);
  display: none;
}
.menu-list.active{
  list-style: none;
  position: absolute;
  z-index: 30;
  right: 0;
  top: 100px;
  background: #fff;
  /* width: 375px; */
  width: 100%;
  /* height: 100vh; */
  /* text-align: right; */
  padding: 20px 40px;
  /* transform: translateY(59%); */
  transform: translateX(0);
  transition: all 0.2s ease-in-out;
  display: block;
}

.banner{
  background-image: url(../img/Banner.png);
  background-size: cover;
  border-radius: 10px;
  .overlay{
    background: linear-gradient(90deg, #B3E8BE 21.27%, rgba(227, 227, 227, 0) 86.66%);
    border-radius: 10px;
  }
  &-txt{
    padding: 89px 0 217px 96px;
    font-weight: 700;
    max-width: 41%;
  }
  h1{
    font-size: 55px;
    line-height: 64px;
    margin-bottom: 10px;
  }
}
.section-title{
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}
.section-subtitle{
font-weight: 500;
font-size: 25px;
line-height: 29px;
}
.facilities{
  position: relative;
  top:-5rem;
  z-index: 20;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 52px;
  padding: 26px 63px 19px 43px;
  box-shadow: -22px 23px 25px rgba(191, 191, 191, 0.25),
  22px 22px 25px rgba(191, 191, 191, 0.25);
  border-radius: 20px;
  .column{
    flex: 0 1 47.5%;
  }
  .facilities-second-column{
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  a{
    text-decoration: none;
    color:#000;
    font-weight: 500;
    font-size: 25px;
  }
  .title{
    font-weight: 700;
  }
  .cards{
    display: flex;
    gap: 35px;
    &-item{
      flex:0 1 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .swimming{
      background-image: url(../img/swimming.svg);
    }
    .wifi{
      background-image: url(../img/wifi.svg);
    }
    .ac{
      background-image: url(../img/ac.svg);
    }
    .dinner{
      background-image: url(../img/dinner.svg);
    }
  }
  .card-photo{
    width: 73px;
    height: 73px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 20px;
    margin-top: 19px;
    margin-bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
  }
  &-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      color:#ff8a00;
      font-size: 18px;
    }
  }
  .tour-details{
    display: flex;
    flex-direction: column;
    text-align: center;
    .duration{
      color:#a0a0a0;
      font-weight: 500;
      margin-top: 20px;
      margin-bottom: 35px;
    }
    .price{
      padding: 13px 15px;
      background-color: #0500ff;
      color:#fff;
      font-weight: 900;
      max-width: 120px;
      margin: 0 auto;
      border-radius: 10px;
      display: flex;
      gap: 17px;
      align-items: center;
    }
  }
  .recommendations{
    display: flex;
    flex-direction: column;
    align-items: center;
    .search{
      font-weight: 400;
      font-size: 25px;
      border-radius: 20px;
      padding: 9px 0 8px 16px;
      width: 100%;
      border: none;
      outline: none;
      margin-bottom: 41px;
      filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
      background-image: url(../img/search.svg);
      background-repeat: no-repeat;
      background-position: 95% 50%;
    }
    .recommendations-photos{
      display: flex;
      gap:30px;
    }
  }
}
.destination{

  &-title{
    text-align: center;
    margin-bottom: 52px;
  }
  .resorts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    .resort{
      background:#fff;
      border-radius: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transition: all .3s ease-in-out;
      &:hover{
        transform: translateY(-11px);
      }
      &-img{
        background-color: #c4c4c4;
        max-width: 348px;
        height: 229px;
        background-repeat: no-repeat;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        &-1{
          background-image: url(../img/resortOne.png);
        }
        &-2 {
          background-image: url(../img/resortTwo.png);
        }
        &-3 {
          background-image: url(../img/resortThree.png);
        }
      }
      &-body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        padding: 10px 22px 8px 19px;
        &-text{
          display: flex;
          flex-direction: column;
          font-weight: 900;
          line-height: 27px;
        }
        &-status{
          width: 65px;
          height: 65px;
          background-image: url(../img/lock.svg);
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 50%;
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        }
      }
      &-price{
        color: red;
      }
      &-id{
        font-size: 20px;
      }
      &-title{
        color: #a7a7a7;
        font-size: 16px;
      }
    }
  }
  .bg-blue{
    content: "";
    width: 100%;
    height: 268px;
    background-color: #e1f0f4;
    border-radius: 10px;
    position: relative;
    top:-212px;
    z-index: -10;
  }
  .arrow-down{
    position: relative;
    display: block;
    top: 90%;
    margin: 0 auto;
  }
}
.conditions{
  max-width: 1100px;
  margin: 0 auto;
  margin-top: -120px;
}
.surprises{
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 200px;
  &-text{
    font-size: 30px;
    line-height: 35px;
    max-width: 550px;
  }
  &-description{
    margin-top: 30px;
    margin-bottom: 25px;
  }
  &-list{
    &-item{
      display: flex;
      gap: 50px;
      align-items: center;
      margin-bottom: 12px;
    }
    &-photo{
      background-color: #d8e8fd;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
    }
    .pool {
      background-image: url(../img/pool.svg);
    }
    .beach{
      background-image: url(../img/beach.svg);
    }
    .surprise{
      background-image: url(../img/beach-surprise.svg);
    }
    .activities{
      background-image: url(../img/beach-activities.svg);
    }
  }
  &-videos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .main-video{
      background-color: #a7a7a7;
      background-image: url(../img/main-movie.png);
      max-width: 482px;
      max-height:456px;
      box-shadow: 1px 172px 52px rgba(214, 228, 232, 0.25),
      -58px 160px 52px #D6E4E8;
      border-radius: 20px;
      img{
        margin: 141px 154px;
      }
    }
    .available-videos{
      display: flex;
      margin: 30px 0;
      gap: 38px;
    }z
    .video-tip{
      font-size: 12px;
    }
  }
}
.sajid-resort{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  &-images{
    display: flex;
    gap: 25px;
    img:not(.like){
      max-height: 282px;
      box-shadow: 0px -26px 4px #DEEBEF;
      border-radius: 20px;
    }
    .active-img{
      margin-top: -70px;
      position: relative;
      .modal-window{
        background-color: #fff;
        width: 332px;
        padding: 10px 23px;
        position: absolute;
        bottom:60px;
        z-index: 22;
        box-shadow: 0px 4px 4px rgba(222, 235, 239, 0.25);
        border-radius: 0px 20px 20px 20px;
        &-header{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 4px;
          border-bottom: 2px solid #D8E8FD;
          margin-bottom: 12px;
          .rating{
            display: flex;
            align-items: center;
            gap: 8px;
          }
        }
        .booking-btn{
          color:#fff;
          padding: 10px;
          border: none;
          background: #FF9100;
          border-radius: 20px;
        }
      }
    }
  }
  &-text{
    max-width: 396px;
  }
  &-title{
    font-size: 41px;
    line-height: 48px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}
.section-airlines{
  margin: 115px 0;
  background-color: #E5F4F7;
  padding: 48px 0;
  .airlines{
    background-color: #fff;
    padding: 61px 0 53px 87px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
    &-columns{
      display: flex;
      gap: 150px;
      margin-top: 34px;
      font-size: 25px;
      line-height: 29px;
    }
    &-item{
      display: flex;
      align-items: center;
      gap: 44px;
      margin-bottom: 28px;
    }
    .airline-photo{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #a7a7a7;
      background-position: center;
      background-repeat: no-repeat;
      flex-shrink: 0;
    }
    .biman{
      background-image: url(../img/biman.png);
    }
    .badal{
      background-image: url(../img/badal.png);
    }
    .raza{
      background-image: url(../img/raza.png);
    }
    .hello-int{
      background-image: url(../img/hello-int.png);
    }
    .pakistan{
      background-image: url(../img/pakistan.png);
    }
    .hello-international{
      background-image: url(../img/hello-international.png);
    }
  }
  .tourist{
    background-image: url(../img/tourist.svg);
    width: 257px;
    height: 551px;
    position: absolute;
    bottom: 0;
    right:47px;
  }
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 385px;
  margin: 0 auto;
  &-title{
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
  }
  &-description{
    font-weight: 500;
    text-align: center;
    max-width: 345px;
    margin: 20px 0 50px 0;
  }
  .subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    .email-input{
      padding: 12px 55px 12px 19px;
      max-width: 265px;
      box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      border: none;
      outline: none;
    }
    .try-free{
    background-color: #273BF4;
    border-radius: 10px;
    border: none;
    padding: 12px 17px;
    color: #fff;
    }
  }
}
.footer{
  margin-top: 100px;
  color:#7d7d7d;
  a{
    text-decoration: none;
    color:#7d7d7d;
  }
  &-body{
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 48px;
    padding: 0 15px;
  }
  &-column{
    max-width: 250px;
    &-title{
      display: block;
      margin-bottom: 30px;
      font-weight: 700;
      color: #000;
    }
  }
  &-bottom{
    font-size: 20px;
    line-height: 23px;
    padding: 28px 0;
    border-top: 1px solid #ACACAC;
    &-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-left{
      flex-grow: 2;
    }
    &-right{
      flex-grow: 0.3;
      gap: 20px;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (max-width:1024px){
  .banner-txt{
    max-width: 50%;
  }
.facilities{
  flex-direction: column;
  max-width: 90%;
  gap: 20px;
}
.tourist{
  display: none;
}
.sajid-resort{
  flex-direction: column-reverse;
  &-text{
    max-width: none;
    margin-bottom: 100px;
    font-size: 30px;
    line-height: 35px;
  }
  &-title {
    font-weight: 600;
  }
}
.section-airlines .airlines-columns {
  gap: 100px;
}
}
@media (max-width:900px){
  .banner{
    h1 {
    font-size: 43px;
    line-height: 52px;
    margin-bottom: 10px;
  }
}
  .surprises{
    flex-direction: column;
    &-text {
      max-width: none;
    }
  }
}
@media (max-width:835px){
  .App{
    font-size: 16px;
    line-height: 19px;
  }
  .header{
    margin-bottom: 30px;
    ul {
      display: none;
    }
  }
  .menu{
  display: flex;
  }
  .banner h1 {
    font-size: 39px;
    line-height: 44px;
  }
  .section-title{
    font-size: 25px;
    line-height: 30px;
  }
  .section-subtitle{
    font-size: 21px;
  line-height: 23px;
  }
  .facilities{
    margin-bottom: 0;
    a{
      font-size: 21px;
    }
    &-second-column{
      align-items: center;
    }
  }
  .destination .resorts .resort-id{
    font-size: 18px;
  }
  .surprises{
    margin-bottom: 125px;
  }
  .surprises-videos .main-video img {
    margin: 100px 125px;
  }
  .surprises-text,.sajid-resort-text{
    font-size: 25px;
    line-height: 30px;
  }
  .sajid-resort-title{
    font-size: 35px;
    line-height: 35px;
  }
  .section-airlines {
    margin: 100px 0;
    .airlines {
      &-columns {
        font-size: 21px;
        line-height: 23px;
        gap: 25px;
      }
    }
  }
  .form-title{
    font-size: 38px;
    line-height: 43px;
  }
  .footer{
    &-body{
      font-size: 20px;
      line-height: 23px;
      gap: 20px;
    }
    &-bottom{
      font-size: 17px;
      line-height: 20px;
    }
  }
}
@media (max-width:640px){
  .banner-txt{
    max-width: none;
  }
  .facilities {
    &-second-column{
    flex-direction: column-reverse;
    }
    .cards{
      gap: 20px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    &-header{
      gap: 10px;
      a{
        font-size: 18px;
      }
    }
    .recommendations .recommendations-photos {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  }
  .surprises-videos .main-video img {
    margin: 100px 125px;
  }
  .sajid-resort-images {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .active-img {
      margin-top: 0;
      .modal-window {
        display: none;
      }
    }
  }
  .section-airlines {
    .airlines {
      &-columns {
        flex-direction: column;
        gap:0;
      }
    }
  }
  .support {
    order: 4;
  }
  
  .contacts {
    order: 3;
  }
}
@media(max-width:450px){
  .banner-txt{
    padding-left: 45px;
  }
  .facilities-header a{
    font-size: 14px;
  }
  .destination .resorts .resort-id {
    font-size: 13px;
  }
  .surprises-videos .main-video img {
    margin: 60px 60px;
  }
  .surprises-text,
  .sajid-resort-text {
    font-size: 21px;
    line-height: 25px;
  }
  .section-airlines {
    .airlines{
      padding: 40px 10px;
    }
    .airlines-columns {
    font-size: 17px;
    line-height: 20px;
  }
  .airlines-item{
    gap: 25px;
  }
}
.form .subscribe{
  flex-direction: column;
}
  .footer-column-title{
    margin-bottom: 18px;
  }
  .contacts {
    order: 4;
  }
  .footer-bottom-content{
    flex-direction: column-reverse;
    gap: 10px;
  }
}