@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
  box-sizing: border-box;
}
.App{
font-family: 'Roboto';
font-weight: 400;
font-size: 18px;
line-height:21px;
}
.content {
  max-width: 1294px;
  margin: 0 auto;
  padding: 0 15px;

   .history-table{
    max-width: 1070px;
    margin: 0 auto;
   }
}

.section-title{
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}

.section-subtitle{
font-weight: 500;
font-size: 25px;
line-height: 29px;
}

.conditions{
  max-width: 1100px;
  margin: 0 auto;
  margin-top: -120px;
}

@media (max-width:835px){
  .App{
    font-size: 16px;
    line-height: 19px;
  }
  .section-title{
    font-size: 25px;
    line-height: 30px;
  }
  .section-subtitle{
    font-size: 21px;
  line-height: 23px;
  }
}
